# coverage
coverage/

# Dependency directories
node_modules/

# Python environments
venv/
env/
ENV/
.venv/

# Conda environments
conda-meta/
envs/

# dotenv environment variable files
.env
.env.local

# Authentication credentials
_auth.js

# Misc files
.DS_Store
.todo.md

# notes
devNotes.md
bun.lock